@import "scss/utils";

.pagination_container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  @include bigtablet {
    row-gap: 10px;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    margin-bottom: 10px;
    @include main_offset;
  }
  @include phone {
    justify-content: center;
    padding: 0;
    margin-bottom: 0;
  }
}

.pagination_input {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: #9DA2A7;
  @include InterMediumBold(12px);
  & input {
    width: 60px;
  }
}


.pagination_numbers {
  display: flex;
  column-gap: 4px;
  margin: 0 auto;
}

.number_default {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $neutral-light;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: .2s all ease-in-out;
  &:hover {
    border-color: $active-color;
  }
  &:active {
    background-color: #7B61FF;
    color: white;
    & svg {
      color: white;
    }
  }
  @include bigtablet {
    width: 36px;
    height: 36px;
  }
  @include phoneOrTablet {
    width: 40px;
    height: 40px;
  }
  @include phone {
    width: 33px;
    height: 33px;
  }
}

.arrow_wrapper {
  @extend .number_default;
  & svg {
    width: 16px;
    height: 16px;
    color: #727880;
  }
  &:last-child {
    & svg {
      rotate: -180deg;
    }
  }
  &[data-isdisabled='true'] {
    pointer-events: none;
  }
}

.pagination_number {
  @extend .number_default;
  @include InterMediumBold(14px);
  &[data-isactive='true'] {
    background-color: #7B61FF;
    color: white;
  }
}