@import "scss/utils";

.table_wrapper {
  overflow-x: auto;
  @include bigtablet {
    max-width: calc(100vw - 280px);
  }
  @include phoneOrTablet {
    max-width: calc(100vw - 50px);
  }
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  @include bigtablet {
    min-width: 720px;
  }
}


.header_item {
  @include InterSemiBold(10px);
  color: #C6C8CB;
  text-transform: uppercase;
  padding: 0 13px 4px 13px;
  & span {
    min-width: 12px;
    min-height: 12px;
    border-radius: 50%;
    background-color: black;
  }
}


.table_body {}

.table_row {
}

.row_td {
  @include PoppinsRegular(12px);
  border: 1px solid $border-color;
  padding: 16px 13px;

  &:not(:last-child, :first-child) {
    border-right: none;
    border-left: none;
  }

  &:first-child {
    border-radius: 12px 0 0 12px;
    border-right: none;
  }
  &:last-child {
    border-radius: 0 12px 12px 0;
    border-left: none;
    text-align: right;
  }
}

