@import "scss/utils";
@import "app/(Main)/components/Table/Table.module.scss";

.worker_docs_table_wrapper {
  @extend .table_wrapper;
  max-width: 100%;
  @include main_offset-smaller;
  @include bigtablet {
    max-width: calc(100vw - 270px);
    padding: 0;
  }
  margin-top: 8px;
  @include phoneOrTablet {
    max-width: 100%;
  }
}

.worker_docs_table {
  @extend .table;
  @include bigtablet {
    min-width: 600px;
    overflow-x: auto;
  }
}

.worker_docs_header {
  @include InterMediumBold(12px);
  color: #9DA2A7;
  text-transform: uppercase;
  padding: 15px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  &:last-child {
    text-align: center;
  }
}

.worker_docs_table_row {
  height: 80px;
  border-bottom: 1px solid $border-color;
  cursor: pointer;
  & td {
    height: inherit;
    border-bottom: 1px solid $border-color;
  }
  &[data-isopen='true'] {
    & > td {
      border-bottom: none;
    }
  }
}

.docs_wrapper {

}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  & p {
    @include InterSemiBold(11px);
    color: #9DA2A7;
  }
}


.worker_docs_td_info {
  display: flex;
  flex-direction: column;
  & a {
    &:first-child {
      @include InterSemiBold(14px);
      width: max-content;
      color: $active-color;
      margin-bottom: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
    @include PoppinsRegular(14px);
    line-height: 21px;
    padding-right: 13px;
  }
}

.worker_docs_subtitle {
  @include PoppinsRegular(14px);
  line-height: 21px;
  @include phoneOrTablet {
    font-size: 12px;
  }
}


.worker_docs_td_docs {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: space-between;

  & > div {
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    & button {
      height: 32px;
      width: max-content;
    }
  }
}

.docs_row_text {
  @include PoppinsRegular(12px);
  color: #727880;
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 42px;
  padding: 13px 0;
  border-bottom: 1px solid $border-color;
}

.last_td {
  text-align: center;
  & span {
    display: flex;
    justify-content: center;
  }
}

.form_bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: transparentize($neutral-light, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  & > div {
    @extend .custom_scroll;
    max-height: 100vh;
    height: max-content;
    overflow-y: auto;
    margin: 0;
  }
}

.form_content {

  & > div {
    margin: 0;
    /*background-color: transparent;
    & > form {
      background-color: white;
      margin-top: 120px;
      border-radius: inherit;
      padding: inherit;
      @include phoneOrTablet {
        margin-top: 200px;
      }
    }*/
  }
}