@import "scss/utils";

.body {
  min-height: 100vh;
  height: max-content;
  display: grid;
  grid-template-areas: 'navbar header'
                          'navbar main';
  grid-template-columns: 271px 1fr;
  grid-template-rows: 64px 1fr;
  & header {
    grid-area: header;
  }
  & nav {
    grid-area: navbar;
  }
  @include bigtablet {
    grid-template-columns: 220px 1fr;
  }
  @include phoneOrTablet {
    display: block;
  }
}

.child_wrapper {
  grid-area: main;
}

.table_wrapper {
  @include main_offset_smaller;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  @include phoneOrTablet {
    padding: 0;
  }
}