@import "scss/utils";

.navbar_container_desktop {
  border-right: 1px solid #EEEEEE;
  @include phoneOrTablet {
    display: none;
  }
}

.navbar_logo_wrapper {
  display: flex;
  justify-content: center;
  padding: 18px 0;
}

.navbarlink {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin: 0 7px;
  padding: 18px 16px;
  border-radius: 12px;
  border: 1px solid transparent;
  transition: .2s all ease-in-out;
  &:hover {
    border: 1px solid #E3E3E3;
  }
  &[data-isactive='true'] {
    background-color: $neutral-light;
  }
  @include bigtablet {
    margin: 0 5px;
    padding: 14px 16px;
    column-gap: 20px;
    white-space: nowrap;
  }
}

.navbarlink_svg {
  @extend .svg;
  width: 24px;
  height: 24px;
  color: $neutral-light-darker;
  &:hover {
    color: $neutral-light-darker;
  }
}

.navbarlink_text {
  color: $neutral-light-darker;
  @include InterMediumBold(14px);
}

.accounts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 7px;
  padding: 18px 16px;
  border-radius: 12px;
  border: 1px solid transparent;
  transition: .2s all ease-in-out;
  cursor: pointer;
  &:hover {
    border: 1px solid #E3E3E3;
  }
  & div {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }
  & svg {
    &:last-child {
      @extend .svg;
      color: #C6C8CB;
      transform: rotate(45deg);
      &:hover {
        color: #C6C8CB;
      }
    }
  }
  @include bigtablet {
    margin: 0 5px;
    padding: 14px 16px;
  }
}

.navbar_container_mobile {
  display: none;
  @include phoneOrTablet {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.burger_svg {
  width: 24px;
  height: 24px;
  color: $neutral-light-darker;
  transition: .2s all ease-in-out;
  cursor: pointer;
  &:hover {
    color: $active-color;
  }
}

.menu_outer {
  width: 100%;
  height: 100%;
  background: transparentize(black, .5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 55%;
  height: 100%;
  overflow-y: auto;
  background: white;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  z-index: 9999;
  padding: 15px 0;
  @include phone {
    width: 70%;
  }
}

.menu_exit {
  @extend .svg;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: .2s all;
  cursor: pointer;
  color: #666c77;
  &:hover {
    color: black;
    transition: .2s all;
  }
  @include phone {
    right: 10px;
  }
}

.navbar_logo_mobile {
  margin: 0 21px 10px;
}