@import "scss/utils";

.modal_background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: transparentize(black, .6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: max-content;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  & > div {
    @extend .custom_scroll;
    max-height: 100vh;
    overflow-y: auto;
    height: max-content;
    margin: 0;
  }
}

.exit_svg {
  @extend .svg;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #595FE5;
  cursor: pointer;
  z-index: 1;
  transition: .2s all ease-in-out;
  &:hover {
    color: black;
  }
}