@import "scss/utils";

.search_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s all ease-in-out;
  &:hover {
    background-color: $active-color;
    .svg {
      color: white;
    }
  }
}