@import "app/(Login)/login/components/LoginForm/LoginForm.module.scss";

.form_description {
  @include InterRegular(12px);
  text-align: center;
  color: $neutral-light-darker;
  margin-top: 8px;
}

.recovery_form {
  @extend .form;
  row-gap: 5px;
  margin-top: 40px;
}